<div class="jumbotron">
  <h1>Formula One Information</h1>
  <p>A lot of information about the Formula One, Seasons, Courses, Races, Drivers and so on ..</p>
  <p><a class="btn btn-primary btn-lg" role="button" routerLink="/season">Start with Seasons</a></p>

  <p><a class="btn btn-primary btn-sm" role="button" href="https://angular.io/" target="_blank">Angular 2</a></p>
  <p><a class="btn btn-primary btn-sm" role="button" href="https://yarnpkg.com/" target="_blank">yarn</a></p>

  <p>
    <a class="btn btn-info btn-xs" role="button" href="https://angular-2-training-book.rangle.io" target="_blank">RANGLE.IO</a>
    <a class="btn btn-info btn-xs" role="button" href="https://scotch.io/tutorials/routing-angular-2-single-page-apps-with-the-component-router/" target="_blank">scotch.io</a>
  </p>

  <p>
    <a class="btn btn-info btn-xs" role="button" href="https://scotch.io/tutorials/angular-2-form-validation" target="_blank">Angular 2 Form Validation</a>
    <a class="btn btn-info btn-xs" role="button" href="http://blog.ng-book.com/the-ultimate-guide-to-forms-in-angular-2" target="_blank">The Ultimate Guide to Forms in Angular 2</a>
    <a class="btn btn-info btn-xs" role="button" href="http://almerosteyn.com/2016/03/angular2-form-validation-component" target="_blank">Angular 2: Creating a powerful form validation component</a>
    <a class="btn btn-info btn-xs" role="button" href="https://coryrylan.com/blog/angular-2-form-builder-and-validation-management" target="_blank">Angular 2 Form Builder and Validation Management</a>
  </p>
  
</div>