<div class="panel panel-info">
  <div class="panel-heading">
    {{title}}
    <div class="container-fluid">
      <nav>
        <button class="btn btn-info btn-sm" routerLink="templateDrivenForm" routerLinkActive="active">Template Driven Validation</button>
        <button class="btn btn-info btn-sm" routerLink="complexForm" routerLinkActive="active">Complex Form</button>
        <button class="btn btn-info btn-sm" routerLink="moduleDrivenForm" routerLinkActive="active">Modul Driven Form</button>
        <button class="btn btn-info btn-sm" routerLink="loginForm" routerLinkActive="active">Login Form</button>
      </nav>
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <!-- Routed views go here -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>